# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false

# electron-related options
electron_mirror="https://npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR="http://npmmirror.com/mirrors/electron-builder-binaries/"
